body {
    background-color: #525B76;
    color:black;
    font-family: sans-serif;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.input {
    font-size: 14px;
    width: 100%;
    border: 0px solid;
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
  }

.post-title{
    height: 38px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 45%; /* Two links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }

.soft-ui-btn {
    color:white;
    font-family: sans-serif;
    font-weight: 600;
    border: 0px solid;
    height: 3em;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
    background: #201E50;
}
  
  .soft-ui-btn:active {
    border-radius: 16px;
    background: #7bb6dd;
    box-shadow: inset 15px 15px 30px #6493b3, 
                inset -15px -15px 30px #92d9ff;
  }

  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.post-container h1 {
    color: white;
}
.post-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.post-container {
    flex: 1 1 100%;
    margin: 15px 0;
    border: solid 2px black;
    border-radius: 5px;
    background-color: #201E50;
    padding: 30px;
}
.post-list {
    display: flex;
    flex-wrap: wrap;
}

.inputfile + label {
	cursor: pointer; 
}